* {
    margin: 0px;
    padding: 0px;
}

.heights {
    height: 100%;
}

.nav-bar {
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
}

.nav-img {
    display: block;
    height: 80px;
    width: 200px;
    padding-top: 15px;
    margin-left: 0px;
}

.row {
    height: 80px !important;
}

.nav-list {
    width: 100%;
    padding-right: 0px;
    padding-left: 40px;
    position: relative;
}

.nav-list li {
    margin-left: 10px;
    text-align: center;
}

.nav-list a {
    text-decoration: none;
    color: #333;
    font-family: "微软雅黑";
    font-size: 14px;
    line-height: 80px;
}

.nav-list a:hover {
    cursor: pointer;
}

#isMyCourse {
    width: 110px;
}

#isMyCourse:hover {
    cursor: pointer;
    box-shadow: 0px 1px 3px rgb(207, 207, 207);
}

#myCourse {
    position: absolute;
    top: 80px;
    left: 102px;
    z-index: 5;
    width: 110px;
    height: 100px;
    background-color: white;
    border: 1px solid rgb(207, 207, 207);
    padding-top: 15px;
}

#myCourse li {
    margin-left: 0px;
    text-align: center;
    height: 35px;
    line-height: 35px !important;
}

// 由于上面.nav-list a 定义了其内部所有a标签的样式，覆盖了该标签的一些样式，以下是配置该标签的部分样式
#myCourse a {
    line-height: 35px !important;
}

#myCourse a:hover {
    color: #23b8ff;
}

#search {
    position: relative;
    width: 350px;
    height: 48px !important;
    margin: 15px auto auto 50px;
    border: 1px solid rgb(199, 196, 196);
    border-radius: 0px !important;
}

#search input {
    width: 240px;
    height: 48px;
    text-indent: 15px;
    border: none;
    border-left: 1px solid rgb(199, 196, 196);
}

#search-classroom {
    border-radius: 0px !important;
    width: 80px;
    background-color: white;
    border: none;
}

#search-classroom>span {
    font-weight: 400 !important;
}

#search-bt {
    border-radius: 0px !important;
    width: 80px;
    background-color: #23b8ff;
    border: none;
}

#search-bt:hover {
    background-color: #10aaf1;
}

#search-bt a {
    font-size: 22px;
    color: white;
}

#search-switch {
    position: absolute;
    top: 48px;
    left: -1px;
    width: 62px;
    height: 50px;
    background-color: white;
    border: 1px solid rgb(199, 196, 196);
    z-index: 25;
    line-height: 50px;
    text-indent: 10px;
}

#search-classroom,
#search-switch :hover {
    cursor: pointer;
}

.carousel {
    height: 300px;
}

.carousel img {
    display: block;
    height: 300px;
    width: 710px;
    margin: 0px auto 0px auto;
}

.carousel-login {
    position: relative;
    top: -300px;
    width: 1250px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.login {
    position: absolute;
    height: 260px;
    width: 220px;
    top: 15px;
    right: 0px;
    background-color: white;
}

.login p {
    margin-top: 20px;
    font-size: 16px;
    color: rgb(173, 171, 171);
    text-align: center;
}

.login img {
    height: 150px;
    width: 160px;
    margin-top: 5px;
}

.login a {
    display: block;
    height: 50px;
    width: 200px;
    margin: 5px auto auto auto;
    background-color: #23b8ff;
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    border-radius: 3px;
}

.login a:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: #10aaf1;
}

#carousel-nav {
    position: absolute;
    z-index: 20;
    left: 0px;
    top: 0px;
    height: 300px;
    width: 270px;
    background-color: rgb(252, 250, 250);
}

// 所有li标签
#carousel-nav li {
    height: 50px;
    width: 270px;
    line-height: 50px;
}

#carousel-nav ul li:hover {
    background-color: white;
}

// 所有a标签
#carousel-nav a {
    color: rgb(46, 45, 45);
    font-size: 14px;
    margin-left: 12px;
}

// 所有b标签
#carousel-nav b {
    color: rgb(46, 45, 45);
    font-size: 16px;
}

.carousel-nav-content {
    position: absolute;
    z-index: 21;
    top: 0px;
    left: 270px;
    min-height: 300px; // 最小高度
    height: auto; // 高度自适应
    width: 800px;
    background-color: white;
    box-shadow: 0px 2px 7px rgb(187, 186, 186);
}

.carousel-nav-content li {
    width: 800px !important;
}

.carousel-nav-content a,
.carousel-nav-content b {
    font-size: 14px !important;
}

.carousel-nav-content-a {
    margin-top: 15px;
    display: block;
    height: 25px;
    width: 120px;
    line-height: 25px;
    text-align: center;
    color: #10aaf1 !important;
    border: 1px solid #10aaf1;
}

.carousel-nav-content-a:hover {
    text-decoration: none;
    color: #23b8ff;
    border-color: #23b8ff;
}

.option {
    height: 70px;
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.option ul {
    width: 730px;
    margin-right: auto;
    margin-left: auto;
}

.option li {
    height: 70px;
    width: 100px;
    font-size: 20px;
    color: #666;
    text-align: center;
    line-height: 70px;
    margin-left: 10px;
}

.option li:hover {
    cursor: pointer;
    text-decoration: none;
}

.option li:focus {
    outline: none;
}

.option-li {
    color: #23b8ff !important;
    border-bottom: 4px solid #23b8ff;
    outline: none;
}

.option a {
    position: absolute;
    height: 30px;
    width: 80px;
    right: 0px;
    top: 20px;
    border: 1px solid #999;
    font-size: 1px;
    text-align: center;
    line-height: 30px;
    color: #333;
    text-decoration: none;
}

.option a:hover {
    border: 1px solid black;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

#classContent {
    border: 1px solid rgb(199, 196, 196);
}

#router {
    width: 100%;
    height: 1800px;
}

@media (max-width:1250px) {
    .carousel,
    .option {
        width: 1250px;
    }
}
