<div class="container-fluid">
    <nav class="nav-bar">
        <div class="row ">
            <div class="col-sm-3 col-xs-3">
                <a href="#" class="nav-img">
                    <img src="../assets/imgs/tenxu.png" alt="腾讯课堂">
                </a>
            </div>
            <div class="col-sm-5 col-xs-5">
                <div class="input-group" id="search">
                    <span class="input-group-addon " id="search-classroom" (click)="isSearch=!isSearch">{{searchClass}}
                        <span class="fa" [class.fa-angle-up]="isSearch" [class.fa-angle-down]="!isSearch"></span>
                    </span>
                    <div id="search-switch" [style.display]="isSearch ? 'block' : 'none'" (click)=searchSwitch()>
                        <span>{{searchOrgan}}</span>
                    </div>
                    <input type="text" placeholder="腾讯课堂设计大师班">
                    <span class="input-group-addon" id="search-bt">
                        <a href="#">
                            <span class="fa fa-search"></span>
                        </a>
                    </span>
                </div>
            </div>
            <div class="col-sm-4 col-xs-4">
                <ul class="nav-list list-inline">
                    <li>
                        <a title="点击登录">登录</a>
                    </li>
                    <li style="margin-right: 20px;" (mouseenter)="isMyCourse=true" (mouseleave)="isMyCourse=false" id="isMyCourse">
                        <a>我要讲课
                            <p class="fa fa-angle-down"></p>
                        </a>
                        <ul class="list-unstyled" id="myCourse" [style.display]="isMyCourse ? 'block' : 'none'">
                            <li>
                                <a href="#">教育机构开课</a>
                            </li>
                            <li>
                                <a href="#">个人老师开课</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" title="分销课程">分销课程</a>
                    </li>
                    <li>
                        <a href="#" title="企业合作">企业合作</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="carousel container-fluid">
    <carousel>
        <slide style="background: rgb(7, 18, 44);">
            <img src="../assets/imgs/0.jpg" alt="First slide">
        </slide>
        <slide style="background: rgb(8, 26, 53);">
            <img src="../assets/imgs/1.jpg" alt="Second slide">
        </slide>
        <slide style="background: rgb(29, 22, 22);">
            <img src="../assets/imgs/2.jpg" alt="Third slide">
        </slide>
        <slide style="background: #02a1eb;">
            <img src="../assets/imgs/3.png" alt="Third slide">
        </slide>
    </carousel>
    <div class="carousel-login">
        <div class="login">
            <p>跟进你的学习进度</p>
            <img src="../assets/imgs/login-img.png">
            <a>登录</a>
        </div>
        <div id="carousel-nav">
            <ul class="list-unstyled">
                <li *ngFor="let data of datas" let i="index" (mouseenter)="isIt=data.title" (mouseleave)="isIt=false">
                    <a href="#" title="{{data.title}}">
                        <b>{{data.title}}</b>
                    </a>
                    <a href="#" *ngFor="let fistList of data.fistLists" title="{{fistList}}">{{fistList}}</a>
                    <i class="fa fa-angle-right"></i>
                    <div class="carousel-nav-content" [style.display]="isIt===data.title ? 'block' : 'none'">
                        <a class="carousel-nav-content-a" href="#" *ngIf="!(data.mytitle==null)" title="{{data.mytitle}}">{{data.mytitle}}</a>
                        <ul class="list-unstyled">
                            <li *ngFor="let secondList of data.secondLists">
                                <a href="#" title="{{secondList.title}}">
                                    <b>{{secondList.title}}</b>
                                </a>
                                <a href="#" *ngFor="let list of secondList.Lists" title="{{list}}">{{list}}</a>
                            </li>
                        </ul>
                    </div>
                </li>


            </ul>
        </div>
    </div>


</div>
<div class="container-fluid" id="classContent">
    <div class="option">
        <ul class="list-inline">
            <li routerLink="/page/selectionrecommend" routerLinkActive="option-li">精选推荐</li>
            <li routerLink="/page/programme" routerLinkActive="option-li">编程语言</li>
            <li routerLink="/">平面设计</li>
            <li routerLink="/">高中</li>
            <li routerLink="/">实用英语</li>
            <li routerLink="/">文艺修养</li>

        </ul>
        <a href="">修改兴趣</a>
    </div>
</div>
<div id="router">
    <router-outlet></router-outlet>

</div>
