<div class="container-fluid">
    <nav class="nav-bar">
        <div class="row ">
            <div class="col-sm-3 col-xs-3">
                <a href="#" class="nav-img">
                    <img src="../assets/imgs/tenxu.png" alt="腾讯课堂">
                </a>
            </div>
            <div class="col-sm-5 col-xs-5">
                <div class="input-group" id="search">
                    <span class="input-group-addon " id="search-classroom" (click)="isSearch=!isSearch">{{searchClass}}
                        <span class="fa" [class.fa-angle-up]="isSearch" [class.fa-angle-down]="!isSearch"></span>
                    </span>
                    <div id="search-switch" [style.display]="isSearch ? 'block' : 'none'" (click)=searchSwitch()>
                        <span>{{searchOrgan}}</span>
                    </div>
                    <input type="text" placeholder="腾讯课堂设计大师班">
                    <span class="input-group-addon" id="search-bt">
                        <a href="#">
                            <span class="fa fa-search"></span>
                        </a>
                    </span>
                </div>
            </div>
            <div class="col-sm-4 col-xs-4">
                <ul class="nav-list list-inline">
                    <li>
                        <a title="点击登录">登录</a>
                    </li>
                    <li style="margin-right: 20px;" (mouseenter)="isMyCourse=true" (mouseleave)="isMyCourse=false" id="isMyCourse">
                        <a>我要讲课
                            <p class="fa fa-angle-down"></p>
                        </a>
                        <ul class="list-unstyled" id="myCourse" [style.display]="isMyCourse ? 'block' : 'none'">
                            <li>
                                <a href="#">教育机构开课</a>
                            </li>
                            <li>
                                <a href="#">个人老师开课</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" title="分销课程">分销课程</a>
                    </li>
                    <li>
                        <a href="#" title="企业合作">企业合作</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="carousel container-fluid">
    <carousel>
        <slide style="background: rgb(7, 18, 44);">
            <img src="../assets/imgs/0.jpg" alt="First slide">
        </slide>
        <slide style="background: rgb(8, 26, 53);">
            <img src="../assets/imgs/1.jpg" alt="Second slide">
        </slide>
        <slide style="background: rgb(29, 22, 22);">
            <img src="../assets/imgs/2.jpg" alt="Third slide">
        </slide>
        <slide style="background: #02a1eb;">
            <img src="../assets/imgs/3.png" alt="Third slide">
        </slide>
    </carousel>
    <div class="carousel-login">
        <div class="login">
            <p>跟进你的学习进度</p>
            <img src="../assets/imgs/login-img.png">
            <a>登录</a>
        </div>
        <div id="carousel-nav">
            <ul class="list-unstyled">
                <li (mouseenter)="isIt=true" (mouseleave)="isIt=false">
                    <a href="#">
                        <b> IT.互联网</b>
                    </a>
                    <a href="#">前端开发</a>
                    <a href="#">Java</a>
                    <i class="fa fa-angle-right"></i>
                    <div class="carousel-nav-content" [style.display]="isIt ? 'block' : 'none'">
                        <a class="carousel-nav-content-a" href="#">腾讯自研课程</a>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">
                                    <b>互联网产品</b>
                                </a>
                                <a href="#">产品策划</a>
                                <a href="#">游戏策划</a>
                                <a href="#">产品运营</a>
                                <a href="#">游戏运营</a>

                            </li>
                            <li>
                                <a href="#">
                                    <b>互联网营销</b>
                                </a>
                                <a href="#">网络营销理论</a>
                                <a href="#">淘宝营销</a>
                                <a href="#">微信营销</a>
                                <a href="#">新媒体营销</a>
                                <a href="#">电商营销 </a>
                                <a href="#">其他</a>
                            </li>
                            <li>
                                <a href="#">
                                    <b>编程语言</b>
                                </a>
                                <a href="#">C</a>
                                <a href="#">C++</a>
                                <a href="#">Java</a>
                                <a href="#">PHP</a>
                                <a href="#">C#/.Net</a>
                                <a href="#">Python</a>
                                <a href="#">其他</a>
                            </li>
                            <li>
                                <a href="#">
                                    <b>前端开发</b>
                                </a>
                                <a href="#"> HTML/CSS</a>
                                <a href="#">JavaScript</a>
                                <a href="#">jQuery</a>
                                <a href="#">HTML5</a>
                                <a href="#">CSS3</a>
                                <a href="#">React</a>
                                <a href="#">Bootstrap</a>
                                <a href="#">其他</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li (mouseenter)="isDesign=true" (mouseleave)="isDesign=false">
                    <a href="#">
                        <b>设计.创作</b>
                    </a>
                    <a href="#">平面设计</a>
                    <a href="#">UI设计</a>
                    <i class="fa fa-angle-right"></i>
                    <div class="carousel-nav-content" [style.display]="isDesign ? 'block' : 'none'">
                        <a class="carousel-nav-content-a" href="#">腾讯课堂设计大师</a>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">
                                    <b>平面设计</b>
                                </a>
                                <a href="#">淘宝美工</a>
                                <a href="#">网页美工</a>
                                <a href="#">综合平面设计</a>
                                <a href="#">摄影后期</a>
                                <a href="#">广告海报</a>

                            </li>
                            <li>
                                <a href="#">
                                    <b>UI设计</b>
                                </a>
                                <a href="#">交互设计</a>
                                <a href="#">游戏UI设计</a>
                                <a href="#">Web</a>
                                <a href="#">UI设计</a>
                                <a href="#">APP</a>
                                <a href="#">其他</a>
                            </li>
                            <li>
                                <a href="#">
                                    <b>平面设计</b>
                                </a>
                                <a href="#">淘宝美工</a>
                                <a href="#">网页美工</a>
                                <a href="#">综合平面设计</a>
                                <a href="#">摄影后期</a>
                                <a href="#">广告海报</a>

                            </li>
                            <li>
                                <a href="#">
                                    <b>UI设计</b>
                                </a>
                                <a href="#">交互设计</a>
                                <a href="#">游戏UI设计</a>
                                <a href="#">Web</a>
                                <a href="#">UI设计</a>
                                <a href="#">APP</a>
                                <a href="#">其他</a>
                            </li>
                        </ul>
                    </div>

                </li>
                <li (mouseenter)="isLanguage=true" (mouseleave)="isLanguage=false">
                    <a href="#">
                        <b>语言.留学</b>
                    </a>
                    <a href="#">实用英语</a>
                    <a href="#">雅思</a>
                    <a href="#">托福</a>
                    <i class="fa fa-angle-right"></i>
                    <div class="carousel-nav-content" [style.display]="isLanguage ? 'block' : 'none'">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">
                                    <b>互联网产品</b>
                                </a>
                                <a href="#">产品策划</a>
                                <a href="#">游戏策划</a>
                                <a href="#">产品运营</a>
                                <a href="#">游戏运营</a>

                            </li>
                            <li>
                                <a href="#">
                                    <b>互联网营销</b>
                                </a>
                                <a href="#">网络营销理论</a>
                                <a href="#">淘宝营销</a>
                                <a href="#">微信营销</a>
                                <a href="#">新媒体营销</a>
                                <a href="#">电商营销 </a>
                                <a href="#">其他</a>
                            </li>
                            <li>
                                <a href="#">
                                    <b>平面设计</b>
                                </a>
                                <a href="#">淘宝美工</a>
                                <a href="#">网页美工</a>
                                <a href="#">综合平面设计</a>
                                <a href="#">摄影后期</a>
                                <a href="#">广告海报</a>

                            </li>
                            <li>
                                <a href="#">
                                    <b>UI设计</b>
                                </a>
                                <a href="#">交互设计</a>
                                <a href="#">游戏UI设计</a>
                                <a href="#">Web</a>
                                <a href="#">UI设计</a>
                                <a href="#">APP</a>
                                <a href="#">其他</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li (mouseenter)="isOccupation=true" (mouseleave)="isOccupation=false">
                    <a href="#">
                        <b>职业.考证</b>
                    </a>
                    <a href="#">公务员</a>
                    <a href="#">教师考试</a>
                    <i class="fa fa-angle-right"></i>
                    <div class="carousel-nav-content" [style.display]="isOccupation ? 'block' : 'none'">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">
                                    <b>编程语言</b>
                                </a>
                                <a href="#">C</a>
                                <a href="#">C++</a>
                                <a href="#">Java</a>
                                <a href="#">PHP</a>
                                <a href="#">C#/.Net</a>
                                <a href="#">Python</a>
                                <a href="#">其他</a>
                            </li>
                            <li>
                                <a href="#">
                                    <b>前端开发</b>
                                </a>
                                <a href="#"> HTML/CSS</a>
                                <a href="#">JavaScript</a>
                                <a href="#">jQuery</a>
                                <a href="#">HTML5</a>
                                <a href="#">CSS3</a>
                                <a href="#">React</a>
                                <a href="#">Bootstrap</a>
                                <a href="#">其他</a>
                            </li>
                            <li>
                                <a href="#">
                                    <b>互联网产品</b>
                                </a>
                                <a href="#">产品策划</a>
                                <a href="#">游戏策划</a>
                                <a href="#">产品运营</a>
                                <a href="#">游戏运营</a>

                            </li>
                            <li>
                                <a href="#">
                                    <b>互联网营销</b>
                                </a>
                                <a href="#">网络营销理论</a>
                                <a href="#">淘宝营销</a>
                                <a href="#">微信营销</a>
                                <a href="#">新媒体营销</a>
                                <a href="#">电商营销 </a>
                                <a href="#">其他</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li (mouseenter)="isPubMed=true" (mouseleave)="isPubMed=false">
                    <a href="#">
                        <b>升学.考研</b>
                    </a>
                    <a href="#">考研</a>
                    <a href="#">大学</a>
                    <a href="#">高中</a>
                    <i class="fa fa-angle-right"></i>
                    <div class="carousel-nav-content" [style.display]="isPubMed ? 'block' : 'none'">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">
                                    <b>平面设计</b>
                                </a>
                                <a href="#">淘宝美工</a>
                                <a href="#">网页美工</a>
                                <a href="#">综合平面设计</a>
                                <a href="#">摄影后期</a>
                                <a href="#">广告海报</a>

                            </li>
                            <li>
                                <a href="#">
                                    <b>UI设计</b>
                                </a>
                                <a href="#">交互设计</a>
                                <a href="#">游戏UI设计</a>
                                <a href="#">Web</a>
                                <a href="#">UI设计</a>
                                <a href="#">APP</a>
                                <a href="#">其他</a>
                            </li>
                            <li>
                                <a href="#">
                                    <b>平面设计</b>
                                </a>
                                <a href="#">淘宝美工</a>
                                <a href="#">网页美工</a>
                                <a href="#">综合平面设计</a>
                                <a href="#">摄影后期</a>
                                <a href="#">广告海报</a>
                            </li>
                            <li>
                                <a href="#">
                                    <b>UI设计</b>
                                </a>
                                <a href="#">交互设计</a>
                                <a href="#">游戏UI设计</a>
                                <a href="#">Web</a>
                                <a href="#">UI设计</a>
                                <a href="#">APP</a>
                                <a href="#">其他</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li (mouseenter)="isLife=true" (mouseleave)="isLife=false">
                    <a href="#">
                        <b>兴趣.生活</b>
                    </a>
                    <a href="#">摄影</a>
                    <a href="#">乐器演奏</a>
                    <a href="#">美妆</a>
                    <i class="fa fa-angle-right"></i>
                    <div class="carousel-nav-content" [style.display]="isLife ? 'block' : 'none'">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">
                                    <b>互联网产品</b>
                                </a>
                                <a href="#">产品策划</a>
                                <a href="#">游戏策划</a>
                                <a href="#">产品运营</a>
                                <a href="#">游戏运营</a>

                            </li>
                            <li>
                                <a href="#">
                                    <b>互联网营销</b>
                                </a>
                                <a href="#">网络营销理论</a>
                                <a href="#">淘宝营销</a>
                                <a href="#">微信营销</a>
                                <a href="#">新媒体营销</a>
                                <a href="#">电商营销 </a>
                                <a href="#">其他</a>
                            </li>
                            <li>
                                <a href="#">
                                    <b>编程语言</b>
                                </a>
                                <a href="#">C</a>
                                <a href="#">C++</a>
                                <a href="#">Java</a>
                                <a href="#">PHP</a>
                                <a href="#">C#/.Net</a>
                                <a href="#">Python</a>
                                <a href="#">其他</a>
                            </li>
                            <li>
                                <a href="#">
                                    <b>前端开发</b>
                                </a>
                                <a href="#"> HTML/CSS</a>
                                <a href="#">JavaScript</a>
                                <a href="#">jQuery</a>
                                <a href="#">HTML5</a>
                                <a href="#">CSS3</a>
                                <a href="#">React</a>
                                <a href="#">Bootstrap</a>
                                <a href="#">其他</a>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </div>


</div>
<div class="container-fluid" id="classContent">
    <div class="option">
        <ul class="list-inline">
            <li routerLink="/page/selectionrecommend" routerLinkActive="option-li">精选推荐</li>
            <li routerLink="/page/programme" routerLinkActive="option-li">编程语言</li>
            <li routerLink="/">平面设计</li>
            <li routerLink="/">高中</li>
            <li routerLink="/">实用英语</li>
            <li routerLink="/">文艺修养</li>

        </ul>
        <a href="#">修改兴趣</a>
    </div>
</div>
<div id="router">
    <router-outlet></router-outlet>

</div>
