<div class="live">
    <h2>精选直播课</h2>
    <div class="live-module">
        <div class="live-screen">
            <img src="../../assets/imgs/classimgs/233.png" alt="">
            <div class="live-screen-into">
                <p>课程标题课程标题课程标题课程标题课程标题课程标题课程标题课程标题</p>
                <div class="live-screen-state">
                    <p>
                        <img src="../../assets/imgs/liveimgs/live1.gif">正在上课</p>
                    <p style="display:none">距离上课时间</p>
                </div>
                <a href="">立即报名</a>
                <div class="live-screen-detailed">
                    <p>
                        <img src="../../assets/imgs/classimgs/233.png" alt="">老师老师老师老师老师老师老师</p>
                    <a href="">课程标题课程标题课程标题课程标题课程标题课程标题课程标题课程标题课程标题课程标题课程标题</a>
                </div>
            </div>
        </div>
        <div class="live-list">
            <ul class="list-unstyled">
                <li>
                    <a href="">
                        <div>
                            <img src="../../assets/imgs/liveimgs/live1.gif">
                            <span>直播中</span>
                        </div>
                        <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <img src="../../assets/imgs/liveimgs/live1.gif">
                            <span>直播中</span>
                        </div>
                        <p>测试文字</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <img src="../../assets/imgs/liveimgs/live1.gif">
                            <span>直播中</span>
                        </div>
                        <p>测试文字</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <img src="../../assets/imgs/liveimgs/live1.gif">
                            <span>直播中</span>
                        </div>
                        <p>测试文字</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <img src="../../assets/imgs/liveimgs/live1.gif">
                            <span>直播中</span>
                        </div>
                        <p>测试文字</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <img src="../../assets/imgs/liveimgs/live1.gif">
                            <span>直播中</span>
                        </div>
                        <p>测试文字</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <img src="../../assets/imgs/liveimgs/live1.gif">
                            <span>直播中</span>
                        </div>
                        <p>测试文字</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <img src="../../assets/imgs/liveimgs/live1.gif">
                            <span>直播中</span>
                        </div>
                        <p>测试文字</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <img src="../../assets/imgs/liveimgs/live1.gif">
                            <span>直播中</span>
                        </div>
                        <p>测试文字</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <img src="../../assets/imgs/liveimgs/live1.gif">
                            <span>直播中</span>
                        </div>
                        <p>测试文字</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="content" *ngFor="let data of datas">
    <div class="content-title">
        <h1>{{data.title}}
            <a href="https://ke.qq.com/">更多
                <i class="fa fa-chevron-right"></i>
            </a>
        </h1>
    </div>
    <div class="content-nav">
        <p>课程分类</p>
        <ul class="list-inline">
            <li *ngFor="let title of data.titleLists" title="{{title}}" (click)="isTitle=title+data.title" [class.content-nav-li]="isTitle==title+data.title">{{title}}</li>
        </ul>
    </div>
    <div class="content-list">
        <ul class="list-inline">
            <li *ngFor="let classify of data.classify">
                <a href="{{classify.classHref}}">
                    <img src="{{classify.imgsrc}}" alt="{{classify.name}}" title="{{classify.name}}">
                </a>
                <a class="list-inline-a" title="{{classify.name}}" href="{{classify.classHref}}" target="_blank">{{classify.name}}</a>
                <div class="content-list-line">
                    <span *ngIf="(classify.cost==0)" style="color:#5fb41b; ">免费</span>
                    <span *ngIf="!(classify.cost==0)" style="color:#e85308; ">￥{{classify.cost}}</span>
                    <div>
                        <a href="https://ke.qq.com/" class="content-list-line-a1" target="_blank" *ngIf="classify.attestation==1" title="类目认证机构">认证</a>
                        <a href="{{classify.organizationHref}}" target="_blank" class="content-list-line-a2" title="{{classify.organization}}">{{classify.organization}}</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
