<!-- 精选课程 -->
<div class="live">
    <h2>精选直播课</h2>
    <div class="live-module">
        <div class="live-screen">
            <img src="{{liveScreenData.imgsrc}}" alt="">
            <div class="live-screen-into">
                <p>{{liveScreenData.name}}</p>
                <div class="live-screen-state">
                    <p *ngIf="liveScreenData.live==1">
                        <img src="../../assets/imgs/liveimgs/live1.gif">正在上课</p>
                    <p *ngIf="!(liveScreenData.live==1)">距离上课时间
                        <span style="color: #23b8ff;">{{liveScreenData.time}}</span> 分钟</p>
                </div>
                <a href="{{liveScreenData.classHref}}" target="_blank" title="立即报名">立即学习</a>
                <div class="live-screen-detailed">
                    <p>
                        <img src="{{liveScreenData.imgsrc}}">{{liveScreenData.teacher}}</p>
                    <a href="{{liveScreenData.classHref}}" title="{{liveScreenData.name}}" target="_blank">来自课程:{{liveScreenData.name}}</a>
                </div>
            </div>
        </div>
        <div class="live-list">
            <!-- 虚线时间轴 -->
            <div></div>
            <!-- 直播列表 -->
            <ul class="list-unstyled">
                <li *ngFor="let livedata of livedatas" (mouseenter)="liveScreen(livedata);liveMouseenter=livedata.name" [class.live-list-mouseenter]="liveMouseenter==livedata.name">
                    <a href="{{liveScreenData.classHref}}" title="{{livedata.name}}" target="_blank">
                        <div style="color: #23b8ff;" *ngIf="livedata.live==1">
                            <img src="../../assets/imgs/liveimgs/live1.gif">
                            <span>直播中</span>
                        </div>
                        <div *ngIf="!(livedata.live==1)">
                            <i class="fa fa-circle mycircle"></i>
                            <span>{{livedata.time}}</span>
                        </div>
                        <p>{{livedata.name}}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- 课程展示 -->
<div class="content" *ngFor="let data of datas">
    <div class="content-title">
        <h2>{{data.title}}
            <a href="https://ke.qq.com/">更多
                <i class="fa fa-chevron-right"></i>
            </a>
        </h2>
    </div>
    <div class="content-nav">
        <p>课程分类</p>
        <ul class="list-inline">
            <li *ngFor="let title of data.titleLists" title="{{title}}" (click)="isTitle=title+data.title" [class.content-nav-li]="isTitle==title+data.title">{{title}}</li>
        </ul>
    </div>
    <div class="content-list">
        <ul class="list-inline">
            <li *ngFor="let classify of data.classify">
                <a href="{{classify.classHref}}">
                    <img src="{{classify.imgsrc}}" alt="{{classify.name}}" title="{{classify.name}}">
                </a>
                <a class="list-inline-a" title="{{classify.name}}" href="{{classify.classHref}}" target="_blank">{{classify.name}}</a>
                <div class="content-list-line">
                    <span *ngIf="(classify.cost==0)" style="color:#5fb41b; ">免费</span>
                    <span *ngIf="!(classify.cost==0)" style="color:#e85308; ">￥{{classify.cost}}</span>
                    <div>
                        <a href="https://ke.qq.com/" class="content-list-line-a1" target="_blank" *ngIf="classify.attestation==1" title="类目认证机构">认证</a>
                        <a href="{{classify.organizationHref}}" target="_blank" class="content-list-line-a2" title="{{classify.organization}}">{{classify.organization}}</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
