<div class="content">
    <div class="content-title">
        <h1>Java
            <a href="">更多
                <i class="fa fa-chevron-right"></i>
            </a>
        </h1>
    </div>
    <div class="content-nav">
        <ul class="list-inline">
            <p>课程分类</p>
            <li>不限</li>
            <li>零基础</li>
            <li>架构师</li>
            <li>专项班</li>
        </ul>
    </div>
    <div class="content-list">
        <ul class="list-inline">
            <li *ngFor="let data of datas">
                <img src="{{data.imgsrc}}" alt="{{data.name}}" title="{{data.name}}">
                <p>{{data.name}}</p>
                <div class="content-list-line">
                    <span *ngIf="(data.cost==0)" style="color:#5fb41b; ">免费</span>
                    <span *ngIf="!(data.cost==0)" style="color:#e85308; ">￥{{data.cost}}</span>
                    <div>
                        <a href="" class="content-list-line-a1" *ngIf="data.attestation==1">认证</a>
                        <a href="" class="content-list-line-a2">{{data.name}}</a>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>
